<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%#= article.title %>		<%# shows the title%>

     <%# shows title,adds link, formats it to look like a title with the class attr, and also adding CSS 'id' attr%>
      <%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %>
    </li>
  <% end %>
</ul>
  	<%# "New Article" link%>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>